body {
    margin: 0;
    padding: 0;
    color: #000;
}

#app {
    width: 80%;
    background-color: royalblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
    padding: 20px;

    .signIn {
        color: black;
        font-weight: 700;
        text-decoration: none;
        background-color: white;
        width: 100px;
        display: block;
        text-align: center;
        padding: 10px;
        position: absolute;
        right: 25px;
    }

    .options {
        text-align: center;
        font-size: 32px;
        margin-bottom: 20px;
        
        a {
            text-decoration: none;
            color: #000;
        }
    }


    // MAIN MENU PAGE

    .main-menu_btn {
        background-color: #009000;
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px;
        border-radius: 15px;
        color: #000;
        text-decoration: none;
        border: 1px solid black;
        margin-bottom: 10px;
    }

    .main-menu_txt {
        text-align: center;
        padding: 40px;
    }

    .fromTo {
        text-align: center;

        .row {
            padding: 10px;
        }

        .first {
            font-weight: 700;
            .col-4 {
                border: 2px solid black;
                font-size: 12px;
            }
        }
    }

    .under {
        .col-4 {
            border-bottom: 1px solid black;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: #000;
        }
    }


    // ADD TRIP PAGE

    .fullWidth {
        margin-left: -20px;
        margin-right: -20px;

        .addTrip_title {
            width: 100%;
            background-color: #fff;
            padding: 15px;
            text-align: center;
            font-weight: 700;
        }
    }

    form {
        .row {
            input, label {
                width: 100%;
                margin: 10px 0;
                text-align: center;
                font-weight: 700;
                font-size: 18px;
            }
        }

        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
          
        input[type=submit]:hover {
            background-color: #45a049;
        }

        .container-radio {
            display: inline-block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: auto!important;

            i {
                font-size: 60px;
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                width: auto;
            }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
                border-radius: 50%;

                &::after {
                    top: 9px;
                    left: 9px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: white;
                }
            }
        }

        .container-radio:hover input ~ .checkmark {
            background-color: #ccc;
        }

        .container-radio input:checked ~ .checkmark {
            background-color: #4CAF50;
        }

        .container-radio input:checked ~ .checkmark:after {
            display: block;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    // SEARCH PAGE

    .search_container {
        text-decoration: none;
        color: #fff;
        font-size: 32px;

        .search_box {
            background-color: green;
            padding: 25px;
            margin: 25px auto;
            border-radius: 15px;
            text-align: center;
            box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
            transition: .5s;

            &:hover {
                box-shadow: none;
            }

            p {
                margin: 0;
            }
        }
    }

}



@media (min-width: 992px) {
    #app {
        width: 50%;

        .fromTo {
    
            .first {
                .col-4 {
                    font-size: 22px;
                }
            }
        }

        form {
            .row {
                input, label {
                    font-size: 32px;
                }
            }
        }
    }
}